<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <style>
            body{background-color:burlywood}
            table {
                text-align: center;
                display: table;
                box-sizing: border-box;
                text-indent: initial;
                border-spacing: 2px;
                border-color: black; 
            }
            table-striped{}
            tr:nth-child(even) {
                background-color: #9AE1EF;
            }
        </style>
        <title>Mission to Mars</title>
        <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
    </head>

    <body>
        <div class="container">

            <!-- Add Jumbotron to Header -->
            <div class="jumbotron text-center">
                <h1>Mission to Mars</h1>
                <!-- Add a button to activate scraping script -->
                <p><a class="btn btn-success btn-lg" href="/scrape"
                    role="button">Scrape New Data</a></p> 
            </div>
            
            <!-- Add section for Mars News -->
            <div class="row" id="mars-news">
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-body">
                        <h2 style="color:blue"><u>Latest Mars News</u></h2>
                        <h4 class="media-heading">{{ mars.news_title }}</h4>
                        <p>{{ mars.news_paragraph }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section for Featured Image and Facts table -->
            <div class="row" id="mars-featured-image">
                <div class="col-xs-6">
                    <h3 style="text-align: center; color:blue">Featured Mars Image</h3>
                    <img
                        src="{{mars.featured_image }}"
                        class="img-thumbnail"
                        alt="Responsive image"
                    />
                </div>
                <div class="col-xs-6">
                    <!-- Mars Facts -->
                    <div class="table table-striped" id="mars-facts">
                        <h4 style="text-align: center; color:blue"> Mars Facts </h4>
                        {{ mars.facts | safe }}
                    </div>
                </div>
            </div>
            <!-- Section for Featured hemisphere images -->
            <div class="row" id="hemisphere_image_urls">
                <div class="col-md-12">
                    <h2 style="text-align: center; color:blue">Hemisphere Images</h2>
                </div style="border:5px solid black">
                {%for i in range(0, hemisphere_length)%}
                <div class="col-md-3">
                    <h5 style="text-align: center">{{mars.hemisphere_titles[i]}}</h5>
                    <img
                        src="{{mars.hemisphere_images[i]}}"
                        class="img-thumbnail"
                        alt="Responsive image"
                    />
                </div>
                {%endfor%}
            </div>
        </div>
    </body>
</html>